<h3>Your Info</h3>
<p>edit: <%= link_to "Settings", edit_user_path(@user) %></p>
<p>email: <%= @user.email %></p>
<p>link: <%= link_to user_path(@user), @user %></p><br />

<h3>Short Description</h3>
<p><%= @user.description %></p>